@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Outfit:wght@400;700&display=swap');

:root {
    --header-height: 3rem;
/*------------------------------ Font typography ------------------------------*/
    --Body-font: 'Outfit', sans-serif;
    --Title-handwriting: 'Kaushan Script', cursive;

/*------------------------------ Font Size ------------------------------*/
/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px, 2rem = 32px, 2.5rem = 40px ...*/
    --Big-title: 2rem;
    --Title: 1.15rem;
    --normal-size: .75rem;
    --Sub-title: .65rem;

/*------------------------------Font Weight------------------------------*/
    --Bold: 700;
    --Regular: 400;

/*------------------------------ Color Pallet ------------------------------*/
    --Russian-violet: #3e144d;
    --Dodger-blue: #1683f8;
    --Yellow-sun: #faeb2c;
    --Dark-charcoal: #333333;
    --Dark-charcoal-transp: #333333da;
    --Gray: #bdbdbd;
    --White: #ffffff;
    --White-transp: #ffffffda;
    --Shadow: #3e144d7e;
    --Gradient: linear-gradient(
        55deg,
        #FAEB2C,
        #F52789,
        #E900FF,
        #1685F8,
        #3D144C
    );

    --primary-color: var(--Russian-violet);
    --secundary-color: var(--Dark-charcoal);
    --tertiary-color: var(--Gray);
    --emphasis-color: var(--Dodger-blue);
    --background-color: var(--White);
    --background-transp: var(--White-transp);
    --shadow-color: var(--Shadow);

/*------------------------------ Bottom Margins ------------------------------*/
/* .25rem = 4px, .5rem = 8px, .75rem = 12px, 1rem = 16px, 1.25rem = 20px ...*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

/*------------------------------ z index ------------------------------*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

/*------------------------------ Border Radius ------------------------------*/
    --mb-border-radius: 1rem;
}

/*------------------------------ Font size for large devices ------------------------------*/
@media screen and (min-width: 968px) {
    :root {
        --Big-title: 4rem;
        --Title: 1.5rem;
        --normal-size: 1rem;
        --Sub-title: .75rem;
    }
}

/*------------------------------ BASE ------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: auto;
    background-color: var(--background-color);
    font-family: var(--Body-font);
    font-weight: var(--Regular);
    font-size: var(--normal-size);
    transition: .4s;
}

body.dark-theme {
    --primary-color: var(--White);
    --secundary-color: var(--Gray);
    --emphasis-color: var(--Dodger-blue);
    --background-color: var(--Dark-charcoal);
    --background-transp: var(--Dark-charcoal-transp);
    --shadow-color: var(--Russian-violet);
}

p {
    font-size: var(--normal-size);
    color: var(--secundary-color);
    line-height: 1.5rem;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*------------------------------ REUSABLE CSS CLASSES ------------------------------*/
.section {
    padding: 2rem 0 4rem;
}

.section_title {
    color: var(--primary-color);
    font-size: var(--Big-title);
    font-family: var(--Title-handwriting);
    padding-bottom: var(--mb-0-5);
}

.section_subtitle {
    display: block;
    width: 150px;
    margin: auto;
    color: var(--secundary-color);
    font-size:var(--normal-size);
    padding-top: var(--mb-1);
    margin-bottom: var(--mb-3);
    border-top: var(--emphasis-color) 2px solid;
}

.section_description {
    margin-bottom: var(--mb-2-5);
}

.section_title,
.section_subtitle,
.section_description {
    text-align: center;
}

/*------------------------------ LAYOUT ------------------------------*/
.container {
    max-width: 82vw;
    margin: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
    margin: auto;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-modal);
}

/*------------------------------ NAV ------------------------------*/
.nav {
    position: fixed;
    width: 100%;
    display: grid;
    align-items: center;
    transition: .4s;
    z-index: var(--z-modal);
}

.nav_container {
    height: var(--header-height);
    display: flex;
    justify-content: space-around;
    align-items: center;    
    background-color: var(--background-color);
    box-shadow: 0 0px 16px var(--shadow-color);
    z-index: var(--z-modal);
}

.hide-shadow {
    box-shadow: none;
}

.nav_logo img {
    height: 2rem;
}

.dark_mode {
    color: var(--primary-color);
    cursor: pointer;
    transition: .4s;
    font-size: 1.5rem;
}

.nav_toggle {
    color: var(--primary-color);
    font-size: 1.1rem;
    cursor: pointer;
    transition: .4s;
}

.nav_close {
    color: var(--primary-color);
    font-size: 1.5rem;
    cursor: pointer;
    transition: .4s;
}

.nav_list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
}

.nav_link {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--normal-size);
    font-weight: var(--Bold);
}

.nav_link:hover {
    color: var(--emphasis-color);
}

.nav_icon {
    font-size: 1.5rem;
    transition: .4s;
}

.nav_close:hover,
.dark_mode:hover,
.nav_toggle:hover,
.nav_item:hover {
    color: var(--emphasis-color);
}

@media screen and (max-width: 767px) {
    .nav {
        bottom: 0;
        left: 0;
    }    
    
    .nav_menu {
        position: fixed;
        bottom: var(--header-height);
        left: 0;
        width: 100%;
        height: 12rem;
        padding: 2rem 2rem;
        background-color: var(--background-color);
        box-shadow: 0 0px 16px var(--shadow-color);
        border-radius: var(--mb-border-radius) var(--mb-border-radius) 0 0;
        z-index: var(--z-tooltip);
        animation: menu .4s;

    }    
}

@media screen and (min-width: 767px) {
    .nav {
        top: 0%;
        margin: 0%;
        padding: 0%;
    }
}

@keyframes menu {
    from {
        bottom: -12rem;
    }
    to {
        bottom: var(--header-height);
    }
}

/*------------------------------ HIDE MENU ------------------------------*/
.hide-menu { 
    display: none;
}

/*------------------------------ HOME ------------------------------*/
.home_container {
    gap: 1rem;
}

.home_social {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 4rem;
    left: 4rem;
    z-index: 100;
}

.home_social-icons {
    display: flex;
    gap: 1.5rem;
}

.home_social-icon {
    font-size: 1.25rem;
    color: var(--primary-color);
    transition: .4s;
}

.home_social-icon:hover {
    color: var(--emphasis-color);
    transform: translateY(-.25rem);
}

.home_small-blobs {
    position: absolute;
    top: 60px;
} 

.home_media {
    height: 320px;
    display: flex;
    justify-content: right;
    margin: 0;
}

.home_blob-bg {
    min-width: 262px;
    position: absolute;
}

.impact-phrase {
    position: absolute;
    right: 17rem;
    top: 12.5rem;
    text-align: center;
    font-size: var(--normal-size);
    color: var(--White);
    font-style: italic;
}

.home_img {
    position: absolute;
}

.inverse-blobs {
    position: absolute;
    top: 22rem;
}

.home_data {
    margin-top: var(--mb-1-5);
    grid-column: 1/3;
}

.home_buttons {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

/*------------------------------ BUTTONS ------------------------------*/
.contact-button {
    min-width: 116px;
    display: inline-flex;
    align-items: center;
    gap: .25rem;
    color: var(--White);
    background-color: var(--emphasis-color);
    padding: 1rem;
    border-radius: 4rem;
    transition: .4s;
}

.contact-button:hover {
    background-color: var(--Russian-violet);
}

.contact-button_icon {
    font-size: 1.25rem;
    transition: .4s;
}

.contact-button:hover .contact-button_icon {
    transform: translateX(.25rem);
}

.download_cv-button {
    min-width: 130px;
    display: inline-flex;
    gap: .25rem;
    align-items: center;
    color: var(--emphasis-color);
    padding: 0 1rem 0 1rem;
    transition: .4s;
}

.download_cv-button i {
    font-size: 1.25rem;
    transition: .4s;
}

.download_cv-button:hover {
    color: var(--secundary-color);
}

.download_cv-button:hover i {
    transform: translateY(.25rem);
}

/*------------------------------ ABOUT ------------------------------*/
.about_img {
    width: 100%;
    border-radius: var(--mb-border-radius);
    justify-self: center;
    align-self: center;
}

.about_info {
    display: flex;
    color: var(--primary-color);
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about_atribute {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about_info-title {
    font-size: var(--Big-title);
    font-family: var(--Title-handwriting);
}

.about_info-name {
    font-size: var(--normal-size);
    font-weight: var(--Bold);
}

/*------------------------------ SKILLS ------------------------------*/
.skills_container {
    row-gap: 0;
}

.skills_list {
    row-gap: var(--mb-1-5);
}

.skills_icon{
    margin: auto;
}

.skills_icon img {
    background-color: var(--White);
    outline: 2px solid var(--White);
    height: 40px;
    border-radius: .8rem;
    
}

.skills_data {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.skills_titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills_title {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.skills_percent {
    font-size: var(--normal-size);
    font-style: italic;
    color: var(--tertiary-color);
}

.skills_bar,
.skills_bar-percent {
    width: 100%;
    height: 5px;
    border-radius: .25rem;
}

.skills_bar {
    background-color: #e7e7e7;
}

.skills_bar-percent {
    display: block;
    background-color: var(--emphasis-color);
}

.skills_illustrator {
    width: 90%;
}

.skills_photoshop {
    width: 95%;
}

.skills_coreldraw {
    width: 98%;
}

.skills_sony-vegas {
    width: 90%;
}

.skills_after-effects {
    width: 80%;
}

.skills_premiere {
    width: 85%;
}

/*------------------------------ QUALIFICATION ------------------------------*/
.qualification_tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.qualification_button {
    color: var(--tertiary-color);
    font-size: var(--Title);
    cursor: pointer;
    transition: .4s;
}

.qualification_button:hover {
    color: var(--emphasis-color);
}

.qualification_icon {
    font-size: 1.5rem;
    margin-right: var(--mb-0-25);
}

.qualification_sections {
    width: 80%;
    margin: auto;
}

.qualification_data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.left-qualification {
    text-align: right;
}

.qualification_title {
    color: var(--primary-color);
    font-size: var(--normal-size);
    font-weight: var(--Bold);
    margin-bottom: var(--mb-0-5);
}

.qualification_subtitle {
    color: var(--secundary-color);
    display: inline-block;
    font-size: var(--Sub-title);
    margin-bottom: var(--mb-0-5);
}

.qualification_calendar {
    font-size: var(--Sub-title);
    color: var(--tertiary-color);
}

.qualification_rounder {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--emphasis-color);
    border-radius: 100%;
    transform: translate(0, 8px);
}

.qualification_line {
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--emphasis-color);
    margin: auto;
    opacity: 30%;
}

.qualification [data-content] {
    display: none;
}

.qualification_active[data-content] {
    display: block;
}

.qualification_button.qualification_active {
    color: var(--emphasis-color);
    font-weight: var(--Bold);
}

/*------------------------------ SERVICES ------------------------------*/
.services_content {
    height: 262px;
    border-radius: var(--mb-border-radius);
    overflow: hidden;
    cursor: pointer;
    transition: .4s;
}

.services_content:hover {
    box-shadow: 0px 0px 16px var(--shadow-color) ;
}

.services_content:hover .services_data{
    background-color: rgba(62, 20, 77, .7);
}

.services_background img{
    width: 100%;
}

.services_data {
    color: var(--White);
    position: relative;
    top: -62px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    background-color: rgba(22, 131, 248, .7);
    transition: .4s;
}

.service_title {
    color: var(--White);
}

.services_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-transp);
    padding: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: var(--z-modal);
    animation: modal .4s;
}

.active-modal {
    display: flex;
}

.services_modal-content {
    position: relative;
    color: var(--background-color);
    background-color: var(--primary-color);
    padding: 4rem;
    border-radius: var(--mb-border-radius);
    text-align: center;
    font-size: var(--Title);
}

.modal-close {
    position: absolute;
    top: .6rem;
    right: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    transition: .4s;
}

.modal-close:hover {
    color: var(--emphasis-color);
}


@keyframes modal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*------------------------------ PORTFOLIO ------------------------------*/
.slider {
    margin: 0 auto;
    width: 100%;
    height: 202px;
    overflow: hidden;
    border-radius: var(--mb-border-radius);
}

.slides {
    width: 500%;
    height: 202px;
    display: flex;
    align-items: center;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    height: 100%;
    position: relative;
    transition: .4s;
}

.slide img {
    width: 100%;
}

.manual-navigation {
    position: absolute;
    width: 80vw;
    margin: 1rem auto;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.manual-btn {
    padding: 4px;
    border-radius: 1rem;
    cursor: pointer;
    transition: .4s;
}

.manual-btn:hover {
    background-color: var(--secundary-color);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -28%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -77%;
}

#radio5:checked ~ .first {
    margin-left: -100%;
}

.auto-navigation {
    position: absolute;
    width: 80vw;
    margin-top: 243px;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.auto-navigation div {
    background-color: var(--tertiary-color);
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}

#radio1:checked ~ .auto-navigation .auto-btn1 {
    background-color: var(--emphasis-color);
}

#radio2:checked ~ .auto-navigation .auto-btn2 {
    background-color: var(--emphasis-color);
}

#radio3:checked ~ .auto-navigation .auto-btn3 {
    background-color: var(--emphasis-color);
}

#radio4:checked ~ .auto-navigation .auto-btn4 {
    background-color: var(--emphasis-color);
}

#radio5:checked ~ .auto-navigation .auto-btn5 {
    background-color: var(--emphasis-color);
}

/*------------------------------ CALL TO ACTION ------------------------------*/
.contact-me_media {
    position: relative;
}

.contact-me_blob-bg {
    width: 100%;
}

.contact-me_img {
    position: absolute;
    bottom: 4px;
    left: 0px;
    height: 288px;
    border-radius: 0 0 0 80px;
}

.contact-me_inverse-blobs {
    position: absolute;
    right:0px;
    height: 12px;
}

.contact-me_small-blobs {
    height: 8px;
    position: absolute;
    left: 16px;
    bottom: -32px;
}

.contact-me_button {
    position: absolute;
    right: 8vw;
    margin-top: 48px;
}

/*------------------------------ FOOTER ------------------------------*/

.footer {
    color: var(--White);
    background-color: var(--Russian-violet);
    margin-bottom: var(--header-height);
}

.footer-content {
    grid-template-columns: 1fr 1fr;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: auto;
    gap: .5rem;
}

.footer-nav_item a {
    color: var(--White);
    transition: .4s;
}

.footer-nav_item a:hover {
    color: var(--emphasis-color);
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin: 2rem 0;
}

.footer_social-icons {
    display: flex;
    gap: 1rem;
}

.footer_social-icons a {
    color: var(--White);
    font-size: 1.5rem;
    transition: .4s;
}

.footer_social-icons a:hover {
    color: var(--emphasis-color);
}

.footer-copyright {
    font-size: var(--Sub-title);
    background-color: var(--emphasis-color);
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------------ SCROLL BAR ------------------------------*/
::-webkit-scrollbar {
    width: .6rem;
    border: .4rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--tertiary-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--secundary-color);
}

/*------------------------------ BREAKPOINTS ------------------------------*/
/* For small devices */
@media screen and (max-width: 320px){
    .home_media {
        height: 232px;

    }
    
    .home_social {
        top: 2.5rem;
        left: 2rem;
    }

    .home_small-blobs {
        top: 3rem;
    }

    .home_blob-bg {
        width: 262px;
    }

    .impact-phrase {
        right: 12rem;
        top: 9rem;
    }

    .home_img {
        height: 214px;
    }

    .inverse-blobs {
        top: 264px;
    }

    .home_buttons {
        gap: .4rem;
    }

    .services_content {
        height: 196px;
    }

    .services_modal-content {
        padding: 2rem;
    }
    

    .services_description {
        font-size: var(--normal-size);
    }

    .slider {
        height: 180px;
    }

    .contact-me_inverse-blobs {
        top: 56px;
    }
    
    .contact-me_img {
        height: 216px;
        border-radius: 0 0 0 56px;
    }

    .contact-me_button {
        width: 118px;
        margin-top: -32px;
    }

    .contact-me_button .button {
        justify-content: center;
    }
}

/* For medium devices */
@media screen and (min-width: 576px){

}

/* For large devices */
/*@media screen and (max-width: ){
}/*